-content_for :local_stylesheet do
  =stylesheet_link_tag "ask"
-content_for :content_hero do
  #ask-hero
    #ask-logo
-content_for :content_main do
  #mod-ask-description
    %h1 Ask.com User Experience
    .experience
      .experience-main
        %p#ask-description-1
          At Ask.com I worked for the internal UX team as a Senior UX Designer. My specialties typically included interaction design, and developing ways to improve the quality of design/engineering collaboration. Our team was also often tasked with spearheading new product exploration, and the testing of product concepts. Over my tenure I worked on a variety of project types, including the development of a social community, iPad and mobile applications, with direct involvement in organizing architecture of the front end code base.