-content_for :local_stylesheet do
  =stylesheet_link_tag "ask"
-content_for :content_hero do
  #ask-hero
    #ask-logo &nbsp;
    #NDA Some projects may be subject to NDA and are not available to view.

-content_for :content_main do
  #mod-ask-description
    %h1 Ask.com User Experience (4 years)
    .experience
      .experience-main
        %p#ask-description-1
          My specialties typically included working on interaction design projects, and developing ways to improve the quality of design/engineering collaboration. Our team was often tasked with spearheading new product exploration, while testing and iterating product concepts under development. Over my tenure I worked on a variety of project types, including the development and launch of a social community, iPad and mobile applications, and hands on involvement  organizing architecture of the front end code base.

  #mod-ask-images
    .three-up-wrapper
      =image_tag "static/ask/mobile_2.png", :id => "ask-landing"
      =image_tag "static/ask/mobile_1.png", :id => "ask-browse"
      =image_tag "static/ask/mobile_3.png", :id => "ask-result"
