-content_for :local_stylesheet do
  =stylesheet_link_tag "ask"
-content_for :content_hero do
  #ask-hero
    #ask-logo &nbsp;
    #NDA Some projects may be subject to NDA and are not available to view.

-content_for :content_main do
  #mod-ask-description
    %h1 Ask.com User Experience (4 years)
    .experience
      .experience-main
        %p#ask-description-1
          My day to day routine includes a range of interaction design projects, while investigating ways to improve the quality of design/engineering collaboration. Our team is often tasked with spearheading new product exploration, while testing and iterating product concepts under development. Over my tenure I have worked on a variety of project types, including the development and launch of a social community, iPad and mobile applications, and hands on involvement  with a rearchitecture of the front end code base.

  #mod-ask-images
    .three-up-wrapper
      =image_tag "static/ask/mobile_2.png", :id => "ask-landing"
      =image_tag "static/ask/mobile_1.png", :id => "ask-browse"
      =image_tag "static/ask/mobile_3.png", :id => "ask-result"
  #mod-ask-description-2
    %h1 Pixel perfect
    .experience
      .experience-main
        %p#ask-description-2
          In addition to interactive work, I have had the opportunity to lead the push in an effort to organize a complete rearchitecture of the presentation layer and its corresponding front end codebase. Part of the project involved updating our design workflow to the latest industry standards, transitioning from photoshop and specs into systems that would automate common tasks; allowing the design team direct but moderated access to the front end code base and enabling rapid prototyping with nearly production ready code.

  #mod-ask-technology
    .mod-title Main Software
    %ul#technology
      %li#invision 
        %a{:target => "blank", :href => "http://www.invisionapp.com"} Invision
      %li#omnigraffle 
        %a{:target => "blank", :href => "http://www.omnigroup.com/omnigraffle"} Omnigraffle
      %li#rails 
        %a{:target => "blank", :href => "http://guides.rubyonrails.org"} Rails
      %li#sublime 
        %a{:target => "blank", :href => "http://www.sublimetext.com"} Sublime
      %li#photoshop 
        %a{:target => "blank", :href => "http://www.photoshop.com"} Photoshop
      %li#illustrator 
        %a{:target => "blank", :href => "http://www.adobe.com/products/illustrator.html"} Illustrator
      %li#flash 
        %a{:target => "blank", :href => "http://www.adobe.com/products/flash.html"} Flash
  
-content_for :content_foot do
  =render 'modules/quicknav'
