-content_for :local_stylesheet do
  =stylesheet_link_tag "big-bold"
-content_for :content_hero do
  #mod-big-parallax
    #big-bold-logo &nbsp;
-content_for :content_main do
  #mod-kudosed-description
    %h1 Kudosed, Front End development
    .experience
      .experience-main
        %p#kudosed-description-1
          Starting from photoshop mocks designed by Vadim Fedotov of Big Bold Labs, I helped create both the web experience for the Kudosed app landing page as well as a web wrapper for message display when prospective users haven't yet downloaded the app. 