-content_for :local_stylesheet do
  =stylesheet_link_tag "fine-art"
-content_for :content_hero do
  #fine-art-hero
    #fine-art-logo
-content_for :content_main do
  #mod-fine-art-description
    .pullquote
      "You can't do better design with a computer, but you can speed up your work enormously." - Wim Crouwel
    %h1 Academy of Art University
    .experience
      .experience-main
        %p#fine-art-description-1
          During my time at the Academy of Art University I had the opportunity to take design classes across a broad assortment of digital and traditional media. Being curious to a fault, the program was an amazing opportunity that allowed me to experience hands on how various design disciplines have evolved from a very manual process and provided context for today's digital capabilities.
  #mod-fine-art-photography
    =image_tag("static/fine-art/portraits.jpg")  
  .quote-box
    .pullquote.dark{"data-bottom-center" => "opacity: 0", "data-center-center" => "opacity: 1"}
      "Create your own visual style: let it be unique for yourself and yet identifiable for others." - Orson Welles
    }
  #mod-fine-art-grid
    =image_tag("static/fine-art/golden_section.jpg")
  #mod-fine-art-watch
    =image_tag("static/fine-art/watch.jpg")
  .quote-box
    .pullquote.dark
      "I never design a building before I’ve seen the site and met the people who will be using it." - Frank Lloyd Wright
  #mod-fine-art-burlingame
    =image_tag("static/fine-art/burlingame.jpg")
    =image_tag("static/fine-art/calligraphy.jpg")
  .quote-box
    .pullquote.dark
      "People ignore design that ignores people." - Frank Chimero  
  #mod-fine-art-pantone
    =image_tag("static/fine-art/pantone.jpg")
  .quote-box
    .pullquote.dark
      "If you do what you always did, you will get what you always got." - Albert Einstein 
  #mod-fine-art-rvca
    =image_tag("static/fine-art/pamphlet.jpg")
-content_for :content_foot do
  =render 'modules/quicknav'
