-content_for :content_hero do
 =render 'modules/ask'
 =render 'modules/lminspired'
 =render 'modules/big-bold'
 =render 'modules/lapsity'
 =render 'modules/intervention'
 =render 'modules/fine-art'
-content_for :content_main do
 =render 'modules/work'  
 =render 'modules/education'

-content_for :content_foot do
 =render 'modules/footer'