-content_for :local_stylesheet do
  =stylesheet_link_tag "lapsity"

-content_for :content_hero do
  #mod-lapsity-demo
    =image_tag("static/lapsity/background.png")
    #lapsity-logo 
      %h1 Lapsity

-content_for :content_main do
  #mod-lapsity-description
    %h2.pullquote "People want to be involved in something greater than themselves."
    %h1 Product Design for Lapsity
    .experience
      .experience-main
        .col1
          %h3.experience-location San Francisco, California
          %p#lapsity-description-1
            People want to be involved in something greater than themselves. This was the idea that spurred a collaborative effort to reinvent the way we use technology in the name of promoting charity and personal wellness.
          %h4 App Concept
          %p#lapsity-description-2
            Lets turn a morning jog into a fight against Cancer. A walk to get doughnuts into support for ending world hunger. By using existing technology we can connect people, businesses, and charities together providing the funding and support, which will bring about some good.
        .col2
          -lapsity_demo = asset_path('/Lapsity_demo.swf')
          %object{:type => "application/x-shockwave-flash", :data => "#{lapsity_demo}", :id => "lapsity_demo"}
            %param{:name => "movie", :value => "Lapsity_demo.swf"}
            %param{:name => "quality", :value => "high"}
            %param{:name => "bgcolor", :value => "#383127"}
            %param{:name => "play", :value => "true"}
            %param{:name => "loop", :value => "true"}
            %param{:name => "wmode", :value => "window"}
            %param{:name => "scale", :value => "showall"}
            %param{:name => "menu", :value => "true"}
            %param{:name => "devicefont", :value => "false"}
            %param{:name => "salign", :value => "true"}
            %param{:name => "allowScriptAccess", :value => "sameDomain"}
  #mod-lapsity-key-screens
    %h4#key-screens-header Key Screens
    .three-up-wrapper
      =image_tag "static/lapsity/key_1.png", :class => "three-up"
      =image_tag "static/lapsity/key_2.png", :class => "three-up"
      =image_tag "static/lapsity/key_3.png", :class => "three-up"
  #pdf_viewer
    #view_options
      %a#view_inline 
        %span#view_pdf
        View in Browser
      %a#download{:href => "/Usability_Research.pdf", :download => true}
        %span#download_pdf
        Download PDF
    #pdf_headline
      %h4#user-study Usability &amp; Research PDF
    #iframe_protector &nbsp;
    %iframe.blurred{:src => "http://docs.google.com/gview?url=http://www.russellmatsuo.com/Usability_Research.pdf&embedded=true", :style => "width:100%; height:600px;", :frameborder => "0", :id => "google_viewer"}

