-content_for :local_stylesheet do
 =stylesheet_link_tag "lapsity"

-content_for :content_hero do
 #mod-lapsity-demo
  =image_tag("static/lapsity/background.png")

-content_for :content_main do
 %p test
