@media screen and (max-width: 1130px) {
  header.header {
    height: 110px; }

  .content {
    margin-top: 110px; } }
@media screen and (max-width: 768px) {
  header.header {
    height: 52px; }

  .content {
    margin-top: 40px; } }
@media screen and (max-width: 650px) {
  ul.feature_list li {
    width: 100% !important; }

  .icon-tools:before {
    content: "" !important; } }
