$tablet-break: 1130px
$mobile-break: 768px

@media screen and (max-width: $tablet-break)
	header.header
		height: 110px
	.content
		margin-top: 110px

@media screen and (max-width: $mobile-break)
	header.header
		height: 52px
	.content
		margin-top: 40px