@font-face {
  font-family: 'DinWeb';
	src: url('http://m3det1.com/fonts/DINWeb.eot');
	src: url('http://m3det1.com/fonts/DINWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinWeb';
	src: url('http://m3det1.com/fonts/DINWeb-Medium.eot');
	src: url('http://m3det1.com/fonts/DINWeb-Medium.woff') format('woff');
	font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'DinWeb';
	src: url('http://m3det1.com/fonts/DINWeb-Bold.eot');
	src: url('http://m3det1.com/fonts/DINWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DinWeb';
	src: url('http://m3det1.com/fonts/DINWeb-Black.eot');
	src: url('http://m3det1.com/fonts/DINWeb-Black.woff') format('woff');
  font-weight: bolder;
  font-style: italic;
}

body *, h1, h2, h3, h4, h5, p, a, #main h1, #main h2, #main h3, body, #nav ul li ul li a, .more, .DG-container h3, .meta .date, .review blockquote q, .review blockquote div strong, .image .image-extras .image-extras-content h4, .image .image-extras .image-extras-content h4 a, .project-content .project-info h4, .post-content blockquote, .button.large, .button.small, .ei-title h3, .cart-contents, .comment-form input[type="submit"], .wpcf7-form input[type="submit"], .gform_wrapper .gform_button, .woocommerce-success-message .button, .page-title h3 {
	font-family: 'DinWeb', Coda, Arial, sans-serif !important;
}