#mod-ask.hero-element{"data-main-bg" => "assets/static/ask/background.jpg"}
 %ul#ask-scene
  %li.layer.background{"data-depth" => "0.40"} &nbsp;
  %li.layer.logo{"data-depth" => "0.60"} &nbsp;
 .mod-information
  %h1.mod-title
   Ask.com
  %p.mod-description
   Senior UX Designer for internal design team, delivering branded product experiences with pixel precision.
  %p.mod-tags
   %span#ask-development-tag.development-tag Front End Development
   %span#ask-design-tag.design-tag Design
   %span#ask-research-tag.research-tag User Research

