#mod-ask.hero-element
 %ul#ask-scene
  %li.background &nbsp;
  %li.logo &nbsp;
  %li.slide-link
   =link_to 'Ask.com', :controller => "projects",  :action => "ask"
 .mod-information
  %h1.mod-title
   Ask.com User Experience
  %p.mod-description
   Senior UX Designer, delivering branded product experiences with pixel precision across multiple platforms.
  %p.mod-tags
   %span#ask-development-tag.development-tag Front End Development
   %span#ask-design-tag.design-tag Design
   %span#ask-research-tag.research-tag User Research

