#mod-big-bold.hero-element
 %ul#big-bold-scene
  %li.background &nbsp;
  %li.logo &nbsp;
  %li.slide-link
   =link_to 'Big Bold Labs', :controller => "projects",  :action => "big_bold"
 .mod-information
  %h1.mod-title
   Kudosed Web Presence
  %p.mod-description
   Responsive promotion page and web wrapper for a hot new iOS application by Big Bold Labs.
  %p.mod-tags
   %span#big-bold-development.development-tag Front End Development
