#mod-cover
 %p#intro I'm skilled in multiple design disciplines, including web design, graphic design, and digital media production, with the strong ability to develop products and guide development. During my career I've had rewarding experiences molding custom solutions that optimize design workflow and coordinate asset delivery. I love to collaborate, mentor and teach others, both through one on one sessions and group learning activities. I deliver tested results using the latest web design standards and UI architecture concepts, and am comfortable working directly with front end code. I pride myself on a feverish work ethic, taking care to be detail oriented while understanding the implications small choices can have on a holistic user experience.

 %p#specialties
  %span.tag User Experience Design 
  %span.tag UI Architecture
  %span.tag UI Design
  %span.tag Interactive
  %span.tag Product Design and Monetization
  %span.tag Mobile &amp; Tablet
  %span.tag Front End Prototyping
  %span.tag Information Architecture
  %span.tag Art Direction
  %span.tag User Testing
  %span.tag Event Promotion
  %span.tag Graphic &amp; Print Media
  %span.tag Motion Graphics
  %span.tag Audio Video
  %span.tag Interactive Media
  %span.tag Visualization
  %span.tag Branding and Identity