#mod-education
  %h1.mod-title Education
  .container
    .education-experience
      %hgroup
        %h2.education-title Academy of Art University
        %h3.education-location San Francisco, California
      %p.education-description
        BFA, Web Design &amp; New Media. Design program concentrated on user experience with human computer interaction topics and digital production techniques.
    .education-experience
      %hgroup
        %h2.education-title Oregon State University
        %h3.education-location Corvallis, Oregon
      %p.education-description
        Attended college courses in graphic design, film photography, and audio production. Awarded full scholarship to return to the program during the summer of 2007.
    .education-experience
      %hgroup
        %h2.education-title Studio Art Portfolio (AP Test)
        %h3.education-location Portland, Oregon
      %p.education-description
        Created graphic design portfolio consisting of 29 pieces demonstrating quality, design concentration, and breadth of skill for scoring by AP board. Awarded 5 of 5.