#mod-fine-art.hero-element
 %ul#fine-art-scene
  %li.layer.background &nbsp;
  %li.layer.logo &nbsp;
  %li.slide-link
   =link_to 'Fine Art', :controller => "projects",  :action => "fine_art"
 .mod-information
  %h1.mod-title
   Fine Art
  %p.mod-description
   A collection of both digital and traditional art, that demonstrate design aesthetic and attention to detail.
  %p.mod-tags
   %span#fine-art-design.design-tag Design
   %span#fine-art-production.production-tag Production
