%nav#global_header
 #global_noise
 %ul
  %li
   %a#logo{:href => "#"} 
    %span.hidden
     Home
  %li
   %a.first{:href => "#"} Projects
  %li
   %a{:href => "#"} Resume
  %li
   %a{:href => "#"} Contact me