%nav#global_header
  %ul
    %li
      %a#logo{:href => "#"} 
        Russell Matsuo
  #work-downloads
    %a#downloads-pdf{:href => "/russell_matsuo_resume.pdf"}
      %span#pdf_icon &nbsp;
      PDF Resume
    / %a#downloads-word{:href => "#Resume"} 
    /   %span#word_icon
    /   Word Resume
    %a#downloads-linkedin{:href => "http://www.linkedin.com/in/russellmatsuo", :target => "blank"} 
      %span#linkedin_icon
      LinkedIn