#mod-intervention.hero-element
 %ul#intervention-scene
  %li.layer.background{"data-depth" => "0.40"} &nbsp;
  %li.layer.logo{"data-depth" => "0.70"} &nbsp;
 .mod-information
  %h1.mod-title
   Intervention
  %p.mod-description
   Art direction, graphic design and production for a monthly party at San Francisco's Ruby Skye nightclub.
  %p.mod-tags
   %span#intervention-design.design-tag Design
   %span#intervention-production.production-tag Production
   %span#intervention-marketing.marketing-tag Marketing

