#mod-intervention.hero-element
 %ul#intervention-scene
  %li.background &nbsp;
  %li.logo &nbsp;
  %li.slide-link
   =link_to 'intervention', :controller => "projects",  :action => "intervention"
 .mod-information
  %h1.mod-title
   Event Promotion
  %p.mod-description
   Art direction, graphic design, motion graphics, and marketing for a monthly party at San Francisco's Ruby Skye nightclub.
  %p.mod-tags
   %span#intervention-design.design-tag Design
   %span#intervention-production.production-tag Production
   %span#intervention-marketing.marketing-tag Marketing

