#mod-lapsity.hero-element
 %ul#lapsity-scene
  %li.layer.background{"data-depth" => "0.40"} &nbsp;
  %li.layer.logo{"data-depth" => "0.80"} &nbsp;
 .mod-information
  %h1.mod-title
   Lapsity
  %p.mod-description
   Orchestrated the initial design and user study of mobile application for charitable marathon running.
  %p.mod-tags
   %span#lapsity-research.research-tag User Research
   %span#lapsity-design.design-tag Design

