#mod-lapsity.hero-element
 %ul#lapsity-scene
  %li.background &nbsp;
  %li.logo &nbsp;
  %li.slide-link
   =link_to 'Lapsity', :controller => "projects",  :action => "lapsity"
 .mod-information
  %h1.mod-title
   Lapsity App Concept
  %p.mod-description
   Orchestrated the product design and user study of mobile application for charitable marathon running.
  %p.mod-tags
   %span#lapsity-research.research-tag User Research
   %span#lapsity-design.design-tag Design

