#mod-lminspired.hero-element
 %ul#lminspired-scene
  %li.layer.background{"data-depth" => "0.40"} &nbsp;
  %li.layer.logo{"data-depth" => "0.70"} &nbsp;
 .mod-information
  %h1.mod-title
   Lm-inspired.com
  %p.mod-description
   Web portal for the art and illuminations of Lauren Matsuo, creator of fine jewelery and artisan lamps.
  %p.mod-tags
   %span#lminspired-development.development-tag Front End Development
   %span#lminspired-design.design-tag Design