#mod-next
  %ul#thumbnails-quicknav
    %li#ask-quick
      %a{:href => "/projects/ask"}#ask-quick-logo Ask.com
    %li#lm-inspired-quick 
      %a{:href => "/projects/lminspired"}#lminspired-quick-logo Lm-inspired.com
    %li#big-bold-quick 
      %a{:href => "/projects/big_bold"}#big-bold-quick-logo Kudosed.com
    %li#lapsity-quick 
      %a{:href => "/projects/lapsity"}#lapsity-quick-logo Lapsity
    %li#intervention-quick 
      %a{:href => "/projects/intervention"}#intervention-quick-logo Intervention
    %li#fine-art-quick 
      %a{:href => "/projects/fine_art"}#fine-art-quick-logo Fine Art