#mod-work
 %h1.mod-title Work Experience
 #work-downloads
  %a#downloads-pdf{:href => "/russell_matsuo_resume.pdf"}
   %span#pdf_icon &nbsp;
   PDF Resume
  %a#downloads-word{:href => "#Resume"} 
   %span#word_icon
   Word Resume
  %a#downloads-linkedin{:href => "http://www.linkedin.com/in/russellmatsuo", :target => "blank"} 
   %span#linkedin_icon
   LinkedIn
 .work-experience
  .work-main
   %hgroup
    %h2.work-title Ask.com
    %h3.work-location Oakland, California
   %p.work-description
    Senior UX Designer for internal design team focused on delivering branded experiences with pixel precision. Duties include guiding product development, building front end using the latest web standards, and coordinating efforts to improve the quality of design engineering collaboration through custom applications.
  .work-skills
   %p.work-date Apr. 2010–Present
   %p.work-tags
    %span.development-tag Ruby on Rails
    %span.development-tag HAML &middot; HTML5
    %span.development-tag SASS &middot; CSS3
    %span.development-tag jQuery
    %span.design-tag Photoshop
    %span.design-tag Omnigraffle
    %span.design-tag Illustrator
    %span.design-tag Mobile &amp; Tablet
    %span.design-tag Interaction Design
    %span.research-tag User Testing
    %span.research-tag Product Concept
    %span.research-tag Rapid Prototyping
 .work-experience
  .work-main
   %hgroup
    %h2.work-title Jeffrey and Ava
    %h3.work-location San Francisco, California
   %p.work-description
    Designer for popular San Francisco event promoters, creating collateral for Club 1994 and Blow Up SF. Worked on advertising campaigns, event flyers, identity system, custom web portals.
  .work-skills
   %p.work-date Jun. 2009–Mar. 2010
   %p.work-tags
    %span.design-tag Campaigns
    %span.design-tag Graphic Design
    %span.development-tag PHP
    %span.development-tag Wordpress
    %span.production-tag Print Preflight
    %span.marketing-tag Social Marketing
