nav#global_header
	display: block
	width: 100%
	height: $global-header-height
	background: #F5FAFC
	border-bottom: 1px darken(#E6EFF2, 3%) solid
	position: fixed
	text-align: center
	z-index: $top-level + 20
	box-shadow: 0px 1px 2px 1px rgba(0, 162, 172, .10), inset 0px 20px 30px 10px white
	top: 0
	ul 
		display: inline-block
		width: auto

	li
		float: left
	a
		display: block
		height: $global-header-height
		padding: 5px 25px 0px 25px
		text-shadow: 0px 1px white
		font-weight: 400
		line-height: 78px
		color: #555
		text-align: center
		font-size: 18px
		position: relative
		&:hover
			color: #00A2AC

	a#logo
		display: block
		background: image-url('svg/russell_matsuo.svg') no-repeat
		background-size: 31px 33px
		border: none
		box-shadow: none
		text-indent: 35px
		font-weight: bold
		color: $logo-green
		padding: 0
		width: 161px
		height: 33px
		line-height: $global-header-height - $half-gutter
		margin-right: $gutter
		margin-top: 5px
		margin-left: 10px
		&:hover:before
			border-bottom: 0
