#mod-lminspired
 width: $desktop-width / 2 - $half-gutter - $standard-frame * 2
 overflow: hidden
 &:hover
  .background
   background-size: 105%
   background-position: center 2.5%
   @include browser-prefix(transition, all 300ms ease-in-out)
  .logo
   background-size: 160px auto
   @include browser-prefix(transition, background-size 200ms ease-in-out)
   @media screen and (max-width: $break-small)
    background-size: 170px * 0.8 170px * 0.8

 ul
 .background
  position: relative
  background: image-url("static/lminspired/background.jpg") top center
  background-size: 100%
  width: 100%
  height: 100%
  @include browser-prefix(transition, all 300ms ease-in-out)

 .logo
  position: absolute
  background: image-url("static/lminspired/lm-logo.png") center center no-repeat
  background-size: 180px auto
  display: block
  @include browser-prefix(transition, background-size 200ms ease-in-out)


#lminspired-development
 width: 50%
 border-radius: 2px 0px 0px 2px
 margin: 0
 padding: 0
 
#lminspired-design
 width: 50%
 border-radius: 0px 2px 2px 0px
 margin: 0
 padding: 0