@import application/variables
@import application/mixins

#mod-big-parallax
  width: 100%
  height: 400px
  background: image-url("static/big-bold/background.png") center center no-repeat
  background-size: cover

#big-bold-logo
  background: image-url("static/big-bold/bbl_logo.png") center center no-repeat
  background-size: 500px
  width: 100%
  height: 100%


#mod-kudosed-description, #mod-kudosed-continued, #mod-kudosed-key-screens
  width: 100%
  display: inline-block
  z-index: 50
  position: relative
  padding-top: $gutter * 1
  padding-bottom: $gutter * 3
  margin-bottom: 5px
  @include white-box
  h1
    color: $logo-green
    max-width: 1000px
    width: 80%
    margin: 0 auto
    font-size: 30px
    margin-top: 30px
  h4
    font-size: 20px
    color: $logo-green
    margin-bottom: 5px

#kudosed-description-2
  margin-top: $gutter

#mod-kudosed-key-screens
  text-align: center
  padding-bottom: $gutter * 3
  padding-top: $gutter * 3
  margin-bottom: 0


.three-up-wrapper
  max-width: 1000px
  width: 80%
  display: inline-block

.three-up
  width: 29.90%
  float: left
  border: 10px white solid
  box-shadow: 0px 0px 7px rgba(0, 162, 172, 0.1)
  border-radius: 2px
  margin-right: 1%
  &:last-child
    margin-right: 0
  @media screen and (max-width: $break-mid)
    width: 28.5%
  @media screen and (max-width: $break-small)
    width: 100%

#kudos-desktop
  background: image-url("static/big-bold/kudosed_desktop.png") top center no-repeat
  background-size: cover
  width: 100%
  height: 600px
  display: block
  box-shadow: inset 0px -10px 20px rgba(0, 0, 0, .1)