@import application/variables
@import application/mixins

#mod-lapsity-demo
 height: 400px
 background-size: cover
 box-shadow: inset 0px -10px 50px rgba(0, 162, 172, 0.7)

#lapsity_demo
 position: absolute
 top: 150px
 right: 40px
 border: 12px #111 solid
 border-radius: 7px

#lapsity-logo h1
 background: image-url("static/lapsity/lapsity-logo.png") center center no-repeat
 background-size: 500px auto
 display: block
 width: 500px
 height: 400px
 margin-left: 10%
 text-indent: -9999px


#mod-lapsity-description
 width: 100%
 z-index: 50
 @include white-box
 h1
  color: darken($logo-green, 9%)
  max-width: 1000px
  padding-bottom: $half-gutter
  width: 80%
  margin: 0 0 0 10%
  font-size: 30px
  margin-top: 30px
 h4
  margin-top: $gutter
  color: $logo-green
  margin-bottom: 5px

#lapsity-description-1
 max-width: 500px