html
 color: $standard-color
 background: #eee
 width: 100%
 height: 100%
body
 position: relative
 overflow-x: hidden
 font-size: 18px
 line-height: 26px

h1,h2,h3,h4,h5,h6,p
 font-family: inherit
 font-size: inherit

#content-crop
 overflow: hidden
 position: relative
 width: 100%
 padding-top: 0px
 z-index: 300
 box-shadow: 0px 0px 4px rgba(0, 0, 0, .5)

 @media screen and (max-width: $break-small)
  height: auto
  padding-top: 0
  padding-bottom: 0
  margin-top: $global-header-height + 50

.logo
 width: 100%
 height: 100%
 position: absolute
 top: 0
 left: 0

#hero
 padding: 0px 0 10px 0
 margin-top: $global-header-height

#content-hero
 overflow: auto
 width: 100%
 z-index: 300
 margin-bottom: $gutter
 @media screen and (max-width: $break-small)
  height: auto
  margin-bottom: 0

#hero-track
 @media screen and (max-width: $break-small)
  width: 100% !important
  padding-left: 0

.hero-element
 float: left
 height: 273px
 cursor: pointer
 position: relative
 margin-right: 0px
 // &:hover:after
 //  content: ' '
 //  display: block
 //  position: absolute
 //  left: 0
 //  top: 0
 //  right: 0
 //  bottom: 0 
 //  border-bottom: 3px white solid
 ul
  display: block
  width: 100%
  height: 100%
  @media screen and (max-width: $break-small)
   border: $standard-frame*2 white solid
   margin-top: 45px !important
   margin-bottom: 20px
   box-shadow: 0px 1px 5px rgba(37, 43, 65, 0.3) 
 @media screen and (max-width: $break-small)
  clear: both
  width: 100% !important
  margin: 0 !important

.hero-crop
 width: 100%
 height: 100%
 overflow: hidden

#hero-right
 position: absolute
 display: none
 right: 0
 top: 0px
 width: 50px
 height: 100%
 z-index: $top-level
 background: image-url('sprite/right_arrow.png') center center no-repeat
 background-size: 15px 26px
 cursor: pointer
 &:hover
  background: image-url('sprite/right_arrow_active.png') center center no-repeat
  background-size: 15px 26px
 @media screen and (max-width: $break-mid)
  width: 35px
 @media screen and (max-width: $break-small)
  display: none !important

#hero-left
 display: none
 position: absolute
 left: 0
 top: 0
 width: 50px
 height: 100%
 overflow: hidden
 z-index: $top-level
 background: image-url('sprite/left_arrow.png') center center no-repeat
 background-size: 15px 26px
 cursor: pointer
 border-radius: 2px
 &:hover
  background: image-url('sprite/left_arrow_active.png') center center no-repeat
  background-size: 15px 26px
 @media screen and (max-width: $break-mid)
  width: 35px
 @media screen and (max-width: $break-small)
  display: none !important


#hero-left, #hero-right
 display: none !important

#information
 overflow: auto
 position: relative
 clear: both
 z-index: 0
 display: block
 height: $information-graph-height
 width: 100%
 color: darken($logo-green, 5%)
 text-shadow: 0px 1px white
 box-shadow: inset 0px -3px 100px rgba(0, 162, 172, .20), 0px 3px 4px rgba(255, 255, 255, .5)
 @media screen and (max-width: $break-small)
  display: none !important

#information .mod-title
 font-weight: bold


#information-left
 float: left
 width: 55%

#information-graph
 float: left
 width: 100%
 height: 100%
 overflow: hidden

.mod-information
 display: none
 @media screen and (max-width: $break-small)
  display: block
  float: left
  width: 60%
  padding: 40px 0 0 0

.mod-information .mod-title
 height: 40px
 line-height: 40px
 font-size: 20px
 font-weight: bold

#information-description
 font-size: 0.70em
 line-height: 1.47em
 margin-right: $gutter
 position: relative
 margin-bottom: $half-gutter

#information-title
 font-weight: bold
 margin-top: 0px
 span
  color: lighten($standard-color, 35%)
  font-weight: normal
  display: inline-block

#time
 display: block
 float: left
 margin-top: 6px
 margin-right: 3px
 width: 12px
 height: 12px
 background: image-url("sprite/time.png") center center no-repeat
 background-size: cover

#information-tags, .mod-tags
 margin-top: 0px
 display: block
 width: 100%
 height: 100%
 position: relative
 border-bottom-size: 10px
 padding-right: $gutter
 @media screen and (max-width: $break-small)
  margin-top: $gutter
  border-top: 1px #d5ecf3 dashed
  padding: $half-gutter $gutter 0 $gutter
 span
  display: block
  height: 100%
  text-align: center
  float: left
  font-weight: bold
  @media screen and (max-width: $break-small)
   background: none
   border-bottom: none
   color: $logo-green
   box-shadow: none
   height: 25px
   width: auto !important
   display: inline-block
   margin-right: 15px !important
   font-size: 15px
   margin-top: 0
   margin-bottom: 0
   padding: 0
   &:before
    content: "#"

#information-tags 
 span
  font-size: 18px
  line-height: $information-graph-height

#information-skills
 margin-top: 10px
 font-size: .7em
 margin-bottom: 0
 position: absolute
 top: 0

#resume
 display: inline-block
 // margin-top: $half-gutter

.mod-information
 padding-bottom: $gutter 

.mod-title 
 position: absolute
 top: 0
 left: - $standard-frame*2
 color: #555
 // box-shadow: inset 0px -1px 0px #eee
 padding: $gutter 0 $half-gutter 0
 text-indent: 3%
 height: 25px
 width: 30%
 line-height: 25px
 font-size: 22px
 @media screen and (max-width: $break-small)
  width: 100%
  padding: 0
  height: 40px
  line-height: 40px
  z-index: 99999
  margin: 0px
  left: 0
  font-size: 20px
  text-indent: $gutter
  border-radius: 0
  box-shadow: 0px 3px 3px rgba(37, 43, 65, .1)

.mod-title.fixed
 position: fixed
 
.mod-title.fixed.absolute
 position: absolute


.mod-description
 padding: $gutter $gutter 0 $gutter

.development-tag
 @include tag-style(lighten($logo-green, 5%))
 border-bottom: 4px #00B3BF solid

.design-tag
 @include tag-style(lighten(#45B856, 5%))
 border-bottom: 4px #51B560 solid

.research-tag
 @include tag-style(#D8BA06)
 border-bottom: 4px #D1B306 solid

.production-tag
 @include tag-style(lighten(#A15F98, 10%))
 border-bottom: 4px #AB79A4 solid

.marketing-tag
 @include tag-style(#38A2C4)
 border-bottom: 4px #3699BA solid
