@mixin standard-font
 font-family: $font-family

@mixin browser-prefix($attr, $value)
 -webkit-#{$attr}: $value
 -moz-#{$attr}: $value
 -o-#{$attr}: $value
 $attr: $value

@mixin sprite-position($sprite-posx: 0, $sprite-posy: 0)
 background-repeat: no-repeat
 background-position: $sprite-posx $sprite-posy

//HiDPI SUPPORT FOR SASS, WE'RE CONSIDERING THIS FUNCTIONAL OVER VISUAL SO WE CAN USE SPRITES IN DISPLAYLIB
@mixin hidpi_url($path, $filetype, $repeat: no-repeat, $rwidth: auto, $rheight: auto, $sprite: false, $sprite-posx: 0, $sprite-posy: 0, $sprite-width: 0, $sprite-height: 0)
 display: block
 background-image: image-url('#{$path}.#{$filetype}')
 background-repeat: $repeat
 width: $rwidth
 height: $rheight
 @if $sprite
  @include sprite-position($sprite-posx, $sprite-posy)
 // HiDPI MEDIA QUERY
 @media all and (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
  background-image: image-url('#{$path}@2x.#{$filetype}')
  background-repeat: $repeat
  @if $sprite
   @include sprite-position($sprite-posx, $sprite-posy)
   background-size: ($sprite-width * 0.5) ($sprite-height * 0.5)
  @else
   background-size: $rwidth $rheight

@mixin box-style
 box-shadow: 0px 1px 2px 1px rgba(0, 162, 172, .10)
 background: white

@mixin tag-style($color)
 color: white
 font-size: .7em
 line-height: 1.4em
 text-shadow: none
 background: $color
 border-radius: 2px
 margin: 3px 3px 3px 0px
 display: inline-block
 font-weight: bold
 padding: 3px 5px 0px 5px
 box-shadow: 0px 1px white

@mixin white-box
 @include box-style
 background-image: url(data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRjVGQUZDIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNGNUZBRkMiIC8+PHJlY3QgeD0iLTIxLjQ5MzclIiB5PSItMTM5LjkwNTclIiB3aWR0aD0iMTQyLjk4NzMlIiBoZWlnaHQ9IjI3OS44MTE0JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=)
 background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 162, color-stop(15%, #ffffff), color-stop(100%, darken(#F5FAFC, 2%)))
 background-image: -webkit-radial-gradient(center top, farthest-corner circle, #ffffff 15%, darken(#F5FAFC, 2%) 100%)
 background-image: -moz-radial-gradient(center top, farthest-corner circle, #ffffff 15%, darken(#F5FAFC, 2%) 100%)
 background-image: -ms-radial-gradient(center top, farthest-corner circle, #ffffff 15%, darken(#F5FAFC, 2%) 100%)
 background-image: -o-radial-gradient(center top, farthest-corner circle, #ffffff 15%, darken(#F5FAFC, 2%) 100%)
 background-image: radial-gradient(farthest-corner circle at center top, #ffffff 15%, darken(#F5FAFC, 2%) 100%)
 box-shadow: inset 0px -3px 30px white, 0px 1px 2px 1px rgba(0, 162, 172, .10)
 border-top: 2px white solid
