!!!5
%html
  %head
    %title= "Russell Matsuo · " + @page_title
    = stylesheet_link_tag "application", :debug => false
    =favicon_link_tag 'static/favicon.png'
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600', :rel => 'stylesheet', :type => 'text/css'}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no, initial-scale=.7"}
    %meta{:name => "description", :content => "The design portfolio of Russell Matsuo, featuring product design, user experience & interactive works."}
    %meta{:name => "keywords", :content => "product design, user experience, interactive, mobile, tablet, app design, graphic Design, motion Graphics, audio production"}
    %meta{:name => "author", :content => "Russell Matsuo"}
    %meta{:charset => "UTF-8"}
  %body
    #wrapper
      #page-head
        =render 'modules/global-header'
      #hero
        #content-crop
          #content-hero
            #hero-track
              =yield :content_hero
        #information-graph
          %p#information-tags
        #information-data
          #hero-right &nbsp;
          #hero-left &nbsp;
          #information-wrapper
            #information-title
            #information-description
            #information-icons
              #icon-wrapper
                %span#desktop-icon &nbsp;
                %span#tablet-icon &nbsp;
                %span#mobile-icon &nbsp;
          %ol#slide-pagination
            %li.active Ask.com
            %li Lm-inspired.com
            %li Kudosed.com
            %li Lapsity
            %li Intervention
            %li Fine Art

      #main
        =yield :content_main
        =javascript_include_tag 'application'