!!!5
%html
	%head
		%title= "Russell Matsuo | " + @page_title
		= stylesheet_link_tag "application", :debug => false
	%body
		%nav#global_header
			#global_noise
			%ul
				%li
					%a#logo{:href => "#"} 
						%span.hidden
							Home
				%li
					%a.first{:href => "#"} Product Design
				%li
					%a{:href => "#"} Mobile Apps
				%li
					%a{:href => "#"} Interactive Data
				%li
					%a{:href => "#"} More Design &raquo;


		.container
		=yield