!!!5
%html
  %head
    %title= "Russell Matsuo · " + @page_title
    = stylesheet_link_tag "application", :debug => false
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600', :rel => 'stylesheet', :type => 'text/css'}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no, initial-scale=.7"}
  %body
    #page-head
      
    #hero
      #content-crop
        #content-hero
          #hero-track
            =yield :content_hero
      #information
        #hero-right &nbsp;
        #hero-left &nbsp;
        #information-graph
          %h3.mod-title#information-skills 
            %span#time &nbsp;
            Time Distribution
          %p#information-tags
    #main
      =yield :content_main
      =javascript_include_tag 'application'